#report1.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report2.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report3.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report4.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report5.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report6.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report7.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report8.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#report9.popup.popup-report.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)